/.DS_Store
/.vscode
/A.zip
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp.csproj
/L6.slnx
/Library
/Logs
/Temp
/Unity.AI.Navigation.Editor.ConversionSystem.csproj
/Unity.AI.Navigation.Editor.csproj
/Unity.AI.Navigation.Updater.csproj
/Unity.AI.Navigation.csproj
/Unity.Burst.CodeGen.csproj
/Unity.Burst.Editor.csproj
/Unity.Burst.csproj
/Unity.CollabProxy.Editor.csproj
/Unity.Collections.CodeGen.csproj
/Unity.Collections.Editor.csproj
/Unity.Collections.csproj
/Unity.InputSystem.DocCodeSamples.csproj
/Unity.InputSystem.ForUI.csproj
/Unity.InputSystem.TestFramework.csproj
/Unity.InputSystem.csproj
/Unity.Mathematics.Editor.csproj
/Unity.Mathematics.csproj
/Unity.PerformanceTesting.Editor.csproj
/Unity.PerformanceTesting.csproj
/Unity.PlasticSCM.Editor.Entities.csproj
/Unity.PlasticSCM.Editor.csproj
/Unity.Rider.Editor.csproj
/Unity.Searcher.Editor.csproj
/Unity.Timeline.Editor.csproj
/Unity.Timeline.csproj
/Unity.VisualScripting.Core.Editor.csproj
/Unity.VisualScripting.Core.csproj
/Unity.VisualScripting.DocCodeExamples.csproj
/Unity.VisualScripting.Flow.Editor.csproj
/Unity.VisualScripting.Flow.csproj
/Unity.VisualScripting.SettingsProvider.Editor.csproj
/Unity.VisualScripting.Shared.Editor.csproj
/Unity.VisualScripting.State.Editor.csproj
/Unity.VisualScripting.State.csproj
/Unity.VisualStudio.Editor.csproj
/UserSettings